.spinner-loading {
    &.visible {
        opacity: 1;
    }
    display: flex;
    opacity: 0;
    background: $colorWhite;
    pointer-events: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 1;
    align-items: center;
    justify-content: center;
    transition: ease-in-out .35s;
    &.no-bg {
        background: transparent !important;
    }
}
.spinner-loading.visible{
    position: relative;
    min-height: 250px;
}

.spinner {
	height: 40px;
	width: 40px;
	background: rgba(0, 0, 0, 0);
    border-radius: 50%;
    border-top: 2px solid #333;
	border-right: 2px solid transparent;
    animation: spinner6 700ms linear infinite;
    /*&:before {
        content: '';
        position: absolute;
        width: 4rem;
        height: 4rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        animation: spinner6 700ms infinite linear reverse;
        @extend .icon-sodimac;
    }*/
}

@keyframes spinner6 {
	to {
		transform: rotate(360deg);
	}
}
