<!--
   TEMPLATE FOOTER - PROD:
   Este template es manejado como sección footer para producción
-->

<% if (process.env.NODE_ENV === "production") { %>
   <% for (key in htmlWebpackPlugin.files.chunks) { %>
      <% if (key === "confetti" || key === "flyoutBanner") {%>
      <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" async charset="utf-8" type="text/javascript"></script>
      <% } else { %>
      <script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" charset="utf-8" type="text/javascript"></script>
      <% } %>
   <% } %>

   <script>
      ;(function(d){
          var winchaLink = d.getElementById('_winchaPromo');
          if (winchaLink) {
              winchaLink.setAttribute('href', '/sodimac-pe/BlackDays');
              winchaLink.setAttribute('title', 'Black Days');
          };
      })(document);
   </script>
<% } %>