<!--
   TEMPLATE HEADER - PROD:
   Este template es manejado como sección header para producción
-->
<% if (process.env.NODE_ENV === "production") { %>
<head>
   <!--<script>
      if (window.location.href.indexOf('/sodimac-pe/Cyberwow') !== -1) {
         window.location.href = '/sodimac-pe';
      }
   </script>-->
   <!-- Mobile header color for Chrome, Firefox OS and Opera -->
   <meta name="theme-color" content="#11182C">
   <!-- Mobile header color Windows Phone -->
   <meta name="msapplication-navbutton-color" content="#11182C">
   <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
   <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
   <meta name="apple-mobile-web-app-status-bar-style" content="default">
   <meta http-equiv="X-UA-Compatible" content="IE=11">
   <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
   <title> Lo más nuevo | Sodimac </title>
   <% for (key in htmlWebpackPlugin.files.css) { %>
      <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
      <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"
         integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
         crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
      <% } else { %>
      <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
      <% } %>
   <% } %>

   
</head>
<%}%>