<% if (process.env.NODE_ENV === "production") { %>
<!--
            TEMPLATE HEADER - PROD:
            Este template es manejado como sección header para producción
         -->

<head>

   <!-- Mobile header color for Chrome, Firefox OS and Opera -->
   <meta name="theme-color" content="#0072ce">
   <!-- Mobile header color Windows Phone -->
   <meta name="msapplication-navbutton-color" content="#0072ce">
   <meta name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no,viewport-fit=cover">
   <!-- Mobile header color for iOS Safari (supports black, black-translucent or default) -->
   <meta name="apple-mobile-web-app-status-bar-style" content="default">
   <meta http-equiv="X-UA-Compatible" content="IE=11">
   <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">
   <title>Lo más nuevo | Sodimac</title>

   <% for (key in htmlWebpackPlugin.files.css) { %>
   <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
   <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"
      integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
      crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
   <% } else { %>
   <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
   <% } %>
   <% } %>
   <script>
      // Picture element HTML5 shiv
      document.createElement("picture");
   </script>
   <script async src="https://cdn.rawgit.com/scottjehl/picturefill/3.0.2/dist/picturefill.min.js"></script>
</head>
<%} else {%>

<!--
            TEMPLATE INDEX - DEV:
            Este template se usa solo en el ambiente de desarrollo (development)
         -->

<head>

   <!-- INCLUDE BASE HEAD CONTENT -->
   <%= require('html-loader!./src/html/master/dev/head.html') %>
   <% for (key in htmlWebpackPlugin.files.css) { %>
   <% if (htmlWebpackPlugin.files.cssIntegrity) { %>
   <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet"
      integrity="<%= htmlWebpackPlugin.files.cssIntegrity[key] %>"
      crossorigin="<%= webpackConfig.output.crossOriginLoading %>" />
   <% } else { %>
   <link href="<%= htmlWebpackPlugin.files.css[key] %>" rel="stylesheet" />
   <% } %>
   <% } %>
</head>
<!-- INCLUDE BASE HEADER -->
<%= require('html-loader!./src/html/master/dev/header.html') %>

<% } %>

<% if (process.env.NODE_ENV === "development") { %>
<main id="main">
   <div class="container">
      <div class="col-md-12"><% } %>

         <!-- START: REQUIRE SECTION INTRO -->
         <%= require('html-loader!./src/html/layouts/section-intro.html') %>
         <!-- END: REQUIRE SECTION INTRO -->

         <!-- START: REQUIRE SECTION NEW PRODUCT -->
         <%= require('html-loader!./src/html/layouts/section-marcas.html') %>
         <!-- END: REQUIRE NEW PRODUCT -->

         <!-- START: REQUIRE SECTION NEW PRODUCT -->
         <%= require('html-loader!./src/html/layouts/section-banners-content.html') %>
         <!-- END: REQUIRE NEW PRODUCT -->

         <!-- START: REQUIRE SECTION CATEGORIES -->
         <%= require('html-loader!./src/html/layouts/section-categories.html') %>
         <!-- END: REQUIRE SECTION CATEGORIES -->

         
         <!-- START: REQUIRE SECTION OTHER CATEGORIES  -->
         <%= require('html-loader!./src/html/layouts/section-others.html') %>
         <!-- END: REQUIRE SECTION OTHER CATEGORIES -->


         <% if (process.env.NODE_ENV === "development") { %>
      </div>
   </div>
</main><% } %>

<% if (process.env.NODE_ENV === "development") { %>

<!-- INCLUDE BASE FOOTER -->
<%= require('html-loader!./src/html/master/dev/footer.html') %>
<script src="https://www.sodimac.com.pe/frontend-cl-prod/static/node_modules/react-dom/cjs/react-dom.production.min.js"
   type="text/javascript"></script>

<% } %>

<% for (key in htmlWebpackPlugin.files.chunks) { %>
<% if (key === "confetti" || key === "flyoutBanner") { %>
<script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" async charset="utf-8" type="text/javascript"></script>
<% } else { %>
<script src="<%= htmlWebpackPlugin.files.chunks[key].entry %>" charset="utf-8" type="text/javascript"></script>
<script src="https://www.sodimac.com.pe/frontend-cl-prod/static/node_modules/react-dom/cjs/react-dom.production.min.js"
   type="text/javascript"></script>


<% } %>
<% } %>

