#categories {
   // background: #eee;
   a{
      color: #333;
      text-decoration: none;

      &:hover{
         text-decoration: none;
      }

   }
   .swiper-slide{
      a{
         overflow: hidden;
         img{
            &:hover{
               transition: .35s ease;
               -webkit-transform: scale(1.05);
               transform: scale(1.05);
               z-index: 1;
           }
         }
      }

   }
   .title-category {
      font-size: 1.2rem;
      padding: 1rem ;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      text-align: center;
      text-transform: uppercase;
      font-weight: bold;
      min-height: 52px;

      @media (min-width: $bp-ipad-w) {
         font-size: 1.4rem;
      }
      @media (min-width: $bp-medium-alt) {
         // font-size: 0.65em;
      }
   }
   #swiper-categories {
      padding-top: 2rem;
      height: fit-content;
      @media (min-width: 768px) {
         margin: 0 6rem;
      }
   }
}
