@import "./../variables";

.content-daily-deals {
   @media (min-width: $bp-small + 1px) {
      border-radius: 3px;
   }

   @media (max-width: $bp-small) {
      border-left: 0;
      border-right: 0;
      width: 100%;
      margin: auto;
   }
}

.daily-deals-container {
   // min-height: 231px;
   margin: 0px 5px;
   height: 100%;
   flex-basis: 50%;
   position: relative;
   padding: 0 5px;
   margin: 0;
   background: $colorWhite;

   &.is-loading {
      .spinner-loading {
         opacity: 1;
      }
   }

   @media (min-width: $bp-small + 1px) {
      width: 100%;
   }
   .ddeals-link {
      display: block;
      height: 100%;
      position: relative;
      width: 100%;

      &:hover {
         color: rgba($color: #000000, $alpha: 0.6);
         text-decoration: none;
      }
   }
   .daily-deals-top-tags {
      position: absolute;
      left: 0;
      right: 0;
      // top: 19px;
      .ddeals-prod-panel-discount {
         position: relative;
         float: left;
      }
   }

   .ddeals-content-image {
      overflow: hidden;
      padding: 5px;

      @media (min-width: $bp-small + 1px) {
         padding: 0;
      }
  
      .ddeals-image {
         width: 120px;
         height: 120px;

         @media (min-width: $bp-xsmall) {
            width: auto;
            height: auto;
         }
         @media (min-width: $bp-ipad-w) {
            width: 120px;
            height: 120px;
            margin: 10px;
        }
    
        @media (min-width: $bp-medium-alt) {
            margin: 5px;
            margin-top: 10px;
        }
      }
   }

   .ddeals-content-info {
      text-align: center;
      min-height: 110px;
      .ddeals-name {
         font-size: 1.4rem;
         line-height: 1.6rem;
         color: #707070;
         display: inline;
         width: 100%;
         display: block;
         display: -webkit-box;
         -webkit-line-clamp: 2;
         -webkit-box-orient: vertical;
         padding: 0 10px;
         overflow: hidden;
         text-overflow: ellipsis;

         @media (min-width: $bp-ipad-w) {
            width: 100%;
            font-size: 1.3rem;
            min-height: 32px;
            // padding: 10px 15px 5px;
         }
      }
      .ddeals-brand{
         text-transform: uppercase;
         color: #707070;
         font-size: 1.3rem;
         font-weight: bold;
         line-height: 1.2rem;
         min-height: 31px;


      }
  
   }
}
.ddeals-price-primary {
   color : $colorDark;
   font-size: 1.8rem;
   padding: .7rem 0;
   .ddeals-price-label {

   }
   .ddeals-price-promo {
      // font-size: 1.4rem;
      // padding: 1rem 0;
      @media (min-width: $bp-small + 1px) {
         font-size: 3rem;
      }
   }
}

.ddeals-price-secondary {
   font-size: 1.4rem;
   line-height: 1.4rem;
   color: #acacac;
   @media (min-width: $bp-ipad-w) {
   
      font-size: 1.3rem;
      // padding: 10px 15px 5px;
   }
}


.ddeals-wrapper {
   width: 100%;
   padding: 0 1rem;
}

.ddeals-price-promo-wrap {
   color: #000;
   width: 150px;
   margin: 5px auto;
   font-size: 1.8rem;

   @media (min-width:768px) {
      margin: 10px auto;
      font-size: 2rem;
   }
}

.ddeals-promo-badge {
   span {
       display: inline-block;
       background-position: center;
       background-size: contain;
       background-repeat: no-repeat;
       min-height: 22px;
   }

   &.is-cmr.is-combo {
       .ddeals-promo-badge-combo {
           display: none;
       }
   }

   &.is-internet {
     
       .ddeals-promo-badge-internet {
           width: 75px;
           height: 15px;
           background-image: url('../assets/img/precio-exclusivo.svg');

       }
   }
   &.is-mas-bajos {
     
       .ddeals-promo-badge-mas-bajos {
           width: 75px;
           height: 15px;
           background-image: url('../assets/img/logo-mas-bajos.svg');

       }
   }


   &.is-cmr {
       .ddeals-promo-badge-cmr {
           width: 75px;
           height: 15px;
           margin-left: 10px;
          
           background-image: url('../assets/img/logo-imbatible.svg');

       }
   }

   &.is-combo {
       .ddeals-promo-badge-combo {
           width: 69px;
           height: 19px;
           background-size: contain;
           background-image: url('../assets/img/combo-logo.png');
       }
   }
}



.content-daily-deals {
   .ddeals-price-promo {
      color: $colorDark;

   }

   .btn {
      width: 100%;
   }

   .btn-red {
      &:hover {
         background: $brandSecondary;
      }
   }
}

@media (max-width: 999px) and (min-width: 992px) {
   .hidden-sm,
   .hidden-xs {
      display: block;
   }
}

@media (min-width: 992px) and (max-width: 999px) {
   .hidden-lg,
   .hidden-md {
      display: none !important;
   }
}
