#section-marcas{
    .wrapper_txt{
        .title-section{
            margin: 0 !important;
        }
    }

  
    .swiper-container{
        height: min-content;
        padding: 2rem 0;
    }
    .swiper-slide{
a{
    display: block;
    cursor: pointer;

}
&:hover{
    transition: .35s ease;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    z-index: 1;
}

    }
    #swiper-brands {
        padding-top: 2rem;
        height: fit-content;
        @media (min-width: 768px) {
           margin: 0 6rem;
        }
     }
}