.recommended {
    .reverse{
        @media (min-width: 768px) {
            display: flex;
            justify-content: flex-end;
        }
    }
    .swiper-slide{
        padding: 5px;
        &:hover{
            transition: .35s ease;
            -webkit-transform: scale(1.03);
            transform: scale(1.03);
            z-index: 1;
        }
    }

    #js-dg-recommended{
        @media (min-width: 768px) {
          width: 80%;
          margin: 0 auto;
        }
        @media (min-width:$bp-medium-alt) {
            width: 60%;
            margin-right: 0;
        }
    }
    .wrapper_recommended{
        position: relative;

    }
    .wrapper-imagen{
        position: relative;
    }
    .wrapper-logo{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        margin: 0 auto;
      
        transform: translate(-50%,-50%);

        @media (min-width:$bp-medium-alt) {
            max-width: 750px;
        }
        @media (min-width:$bp-tablet-landscape) {
            max-width: 940px;
        }

        img{
           @media (min-width: 768px) {
            width: 240px !important;
           }
           @media (min-width:$bp-tablet-landscape) {
            width: 275px !important;
          }
  
           @media (min-width:1500px) {
          width: 300px !important;
        }

          
            
        }
    }
    .daily-deals-container {
border-radius: 5px;
box-shadow: 0 5px 5px -5px #333;
border: 1px solid #eee;



    }
}
div#section-recommended {
    margin-top: -12rem;
    position: relative;
    padding:0;
    @media (min-width: 600px) {
        margin-top: -20rem;
    }
    @media (min-width:$bp-ipad-m) {
        margin-top: -15rem;
    }
    @media (min-width:$bp-medium-alt) {
        margin-top: -20rem;
    }
    @media (min-width:$bp-tablet-landscape) {
        margin-top: -24rem;
    }
   
}