@import './../variables';

$cardRounded: 5px;



.columns {
    flex-wrap: wrap;
    margin-left: .3rem;
    margin-right: .3rem;


}

.column {
    padding: 0.4rem;
}


.section-promo {


 

    @media (min-width: $bp-xsmall + 1px) and (max-width: $bp-small) {
        padding: 0 3rem;
    }

    .no-padding {
        padding: 0 !important;
    }

 
}

.section-promo__content {
    position: relative;

 


}



.dynamic-grid {
    &__item {
        &__catimg {
            position: relative;
            left: 50%;
            top: 50%;
            width: 100%;
            margin-left: 0;
            transform: translate(-50%, -50%);
        }

        &__bg {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-size: 115% auto;
            background-position: center;
            filter: blur(10px);
        }
    }

    &__card-columns {
        margin: 0;
        border: none;
        border-radius: 7px;


        @media (max-width: $bp-medium - 1px) {
            overflow: hidden;
        }

        .ddeals-prod-panel-discount {
            left: 0;
        }
    }

    &__column {
        $columnCardWid: 16.667%;

        &__card {
            position: relative;
            flex-basis: $columnCardWid;
            padding: 5px;
            width: $columnCardWid;
            flex-grow: 0;

            @media (min-width: $bp-small + 1px) {
                padding: 3px;
            }

            @media (max-width: $bp-ipad-m) {
                flex-basis: 50%;
                width: 50%;
                padding: 2px;
            }

            @media (min-width: $bp-ipad-w) {
                flex-basis: 25%;
                width: 25%;
            }

            @media (min-width: $bp-medium-alt) {
                flex-basis:20%;
                width:20%;
            }
            @media (min-width: $bp-tablet-landscape) {
                flex-basis: 16.666%;
                width: 16.666%;
            }


            &:hover {
                transition: ease .35s;
                transform: scale(1.03);
                z-index: 1;

                >div {
                    box-shadow: 0 0 18px -13px rgba($colorDark, .76);
                }
            }

            >div {
                padding: 0;
                overflow: hidden;
                border-radius: 5px;
                min-height: 250px;

                @media (min-width: $bp-ipad-w) {
                    min-height: 285px;
                }
                @media (min-width: $bp-medium-alt) {
                    min-height: 270px;
                    // border: 1px $greyLight solid;

                }

           
            }
        }

        &__card.is-full {
            .daily-deals-container {
                min-height: auto;

                @media (min-width: $bp-ipad-w) {
                    min-height: 240px;
                    height: 240px;
                    // border: 1px $greyLight solid;

                }

                @media (min-width: $bp-medium-alt) {
                    min-height: 250px;
                    height: 250px;
                    // border: 1px $greyLight solid;

                }
            }

        }
    }


}

.dynamic-grid-carousel {
    height: auto;
    margin-right: .3rem;
    margin-left: .3rem;
    padding: .5rem .5rem;

    &.dynamic-grid-carousel__cards {
        height: 290px;
        padding-right: 12rem;
        padding-bottom: 2rem;

        .swiper-wrapper {
            height: 100% !important;
        }

        @media (min-width: $bp-xsmall + 1px) {
            height: 300px;
        }
        @media (min-width:768px) {
            padding: 0;
            height: 280px;
        }
    }

    &__cards {
        @media (min-width: $bp-xsmall + 1px) and (max-width: $bp-small) {
            margin: 0 !important;
            padding: 0 !important;
        }

        @media (max-width: $bp-xsmall - 40px) {
            padding: 0 15px;
            margin: 0;
        }

        .dynamic-grid-carousel__item {
            // border: 1px $greyLighter solid;
            border-left: 0;
            border-right: 0;
            overflow: hidden;
                box-shadow: 0 5px 5px -5px #eee;

     
            &__catcard {
                >div {
                    padding: 0;
                }

                img {
                    @media (max-width: $bp-xsmall) {
                        position: relative;
                        left: 0;
                        top: 0;
                        margin-left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }

    .swiper-wrapper {
        height: auto;
    }
}

.dynamic-grid-carousel__pagination {
    bottom: 9px !important;
}

.dynamic-grid-carousel__item {
    @media (min-width: $bp-small + 1px) {
        width: auto
    }


}


