@import './variables';

@font-face {
   font-family: 'hands';
   src: url('/static/header/fonts/hands-of-sean/handsean-webfont-webfont.woff2') format('woff2'), url('/static/header/fonts/hands-of-sean/handsean-webfont-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}
.img-responsive{
   width: 100% !important;
}


.full-container {
   &.breadrumbWrap {
      display: none !important;
   }
}

#kampyleButtonContainer {
   display: none !important;
}

.block-widget {
   display: none !important;
}



#chat-widget {
   display: none !important;
}

.newHeader {
   @media (max-width:1000px) {
      position: fixed !important;
      top: 0 !important;
      border-bottom: 0 !important;
      box-shadow: none !important;
      z-index: 201 !important;
   }
}

.borderRadius15 {
   border-radius: 15px;
}

.borderRadius10 {
   border-radius: 10px;
}

#main {
   margin-top: 0 !important;
   background: $colorWhite;

   >.container {
      padding: 0;
      width: 100%;

      >.col-md-12 {
         padding: 0 !important;
      }
   }

   .row {
      margin: 0;
   }

   .col {
      padding: 0 !important;
   }
}

#main {
   font-family: 'Lato', medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
   letter-spacing: .5px;
   font-style: normal;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -moz-font-feature-settings: "liga"on;
   color: rgba(0, 0, 0, .84);

   font-size: 1.5em;
   /*line-height: 1.6;*/
   font-weight: 400;

   p {
      font-size: .6em;
      line-height: 1.2em;
   }

   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
      margin-top: 0;
      margin-bottom: 2rem;
      font-weight: 300;
   }

   h4 {
      font-size: 2rem;
      line-height: 1.35;
      letter-spacing: -.08rem;

      @media (min-width: 550px) {
         font-size: 3.0rem;
      }
   }

   h3 {
      font-size: 2.2rem;
      line-height: 1.3;

      @media (min-width: 550px) {
         font-size: 3.6rem;
      }
   }

   h2 {
      font-size: 2.6rem;
      line-height: 1.25;
      letter-spacing: -.1rem;

      @media (max-width: $bp-small) {
         font-size: 2.2rem;
      }
   }
}

/* FIX POOR DEFAULT HEADER STYLES IN TABLET LANDSCAPE */
.newHeader #container {
   @media (min-width: $bp-tablet-landscape) and (max-width: $bp-tablet-landscape + 5px) {
      max-width: 106%;
   }
}

.search-box {
   @media (min-width: $bp-tablet-landscape) and (max-width: $bp-tablet-landscape + 5px) {
      margin-left: -52px !important;
   }
}

#header .zone-price {
   @media (min-width: $bp-tablet-landscape) and (max-width: $bp-tablet-landscape + 5px) {
      display: none !important;
   }
}

