@import "./variables";
@import "./sections/daily-deals";
@import "./sections/section-banners-content";
@import "./sections/recommended";
@import "./sections/products";
@import "./sections/categories";
@import "./sections/marcas";
@import "./sections/other-sections";

.section-wrapper {
   max-width: 1200px;
   margin: auto ;
   padding: 20px 5px;
}
#main {
   
   .wrapper_txt {
      padding: 0 2rem;
      .title-section {
         text-align: center;
         color: #707070;
         margin-bottom: 0.5rem;
         font-size: 2rem;

         @media (min-width: 768px) {
            font-size: 2.8rem;
            margin-top: 2rem;
         }
         
      }
   
      .txt-section {
         text-align: center;
         color: #707070;
         font-size: 1.5rem;
         @media (min-width: 768px) {
            font-size: 1.8rem;
   
         }
      }
   }
}
