
.swiper-button-disabled {
    opacity: .38;
}
.swiper-pagination-bullets {
    width: 100%;
    position: relative;
    
}
.swiper-categorias-pagination , .swiper-marcas-pagination{
text-align: center;
}
.swiper-button-prev, .swiper-button-next {
    top: 50%;
    position: absolute;
}

.swiper-container-outer {
    position: relative;
    .swiper-custom-button , .swiper-button-bestSeller {
        &.swiper-custom-button-prev {
            &:after {
                @media (min-width: $containerMaxWidth) {
                    // margin-left: -.7rem;
                }
            }
        }
        &.swiper-custom-button-next {
            &:after {
                @media (min-width: $containerMaxWidth) {
                    // margin-left: 1.6rem;
                }
            }
        }
    }
}

.swiper-custom-button {
    width: 3.5rem;
    height: 3.8rem;
    border-radius: 1rem;
    background: #0071ce;
    z-index: 2;
    border: 2px solid #0071ce;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    &.swiper-custom-button-prev,
    &.swiper-custom-button-next {
        &:after {
            content: '';
            position: absolute;
            top: 50%;
            width: 1.4rem;
            background-size: cover;
            margin-top: -.6rem;
            background-repeat: no-repeat;
            height: 1.2rem;
        }
    }

    &.swiper-custom-button-prev {       
        &:after {           
            background-image: url("https://sodimac.scene7.com/is/image/SodimacPeru/arrow-prev?wid=27&hei=12&fmt=png-alpha");
            background-position: center;
            background-size: contain;
        }
    }
    &.swiper-custom-button-next {
        float: right;
       &:after {
          background-image: url("https://sodimac.scene7.com/is/image/SodimacPeru/arrow-next?wid=27&hei=12&fmt=png-alpha");
        background-size: contain;
          background-position: center;
        }
    }
}


.swiper-pagination-bullet {
    opacity: 1;
    background: $grey;
    border: 2px #F0F0F0 solid;
    box-sizing: content-box;
    margin: 0 2px;
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    background: #707070;
}

