/* Colors - NO MODIFICAR COLORES PORFAVOR!!!*/
$brandPrimary: #0072ce;
$colorBlueDegrade:#0071bc;
$brandSecondary: #dd0021;
$cyberWow: false;
$brandRed: #dd0021;
$brandGreen: #4EB82A;
$brandPrimaryRaw: '%230072ce';
$brandNegroRaw: '%23000';
$cyberWow: false;
$brandPink: #fd2b73;
$greyLighter: #eee;
$greyLight: #ddd;
$grey: rgb(145, 145, 145);
$greyDark: #333;
$colorWhite: #fff;
$colorDark: #000;
$colorGreenLight:#A8D42E;
$colorGreen:green;
$colorPurple:#2e255a;
$colorPurpleRaw:'%232e255a';
$colorPurpleLight: #6d65a0;
$yellowConstructor: #fbd600;
$colorSkyBlue :#0071bc ;
$colorInterview:#00c5e4;
$colorBlueLight:#00ffff;


// USAR Y MODIFICAR DE ACUERDO AL KV DE CADA EVENTO
$themePrimary: $brandPrimary;
$themeSecondary:$colorSkyBlue;
$themeTertiary: #11182C;
$themeBlue: $brandPrimary;
$themeRed: $brandPink;

/* Layouts sizes */
$headerHeight: 142px;
$headerHeightMobile: 57px;
$headerFixedHeight: 41px;
$containerMaxWidth: 1280px;

/* Breakpoints */
$bp-xxsmall: 375px;
$bp-xsmall: 480px;
$bp-small: 800px;
$bp-medium: 1000px;
$bp-ipad-w: 768px;
$bp-ipad-m: 767px;
$bp-medium-alt: 992px;
$bp-tablet-landscape: 1024px;
