<div id="section-other"class="section-container-fluid section-promo">
    <div class="section-wrapper ">
        <div class="wrapper_txt">
            <h2 class="text-uppercase title-section"><strong>Otras Secciones</strong></h2> 
        
        </div>
      
        <div class="columns is-mobile wrapper_others">
            <div class="column is-full-mobile is-half-tablet is-half-desktop">
                <a href="/sodimac-pe/category/cat579038/combos/?cid=lnd91083" title="Combos">
                    <img alt="Combos" title="Combo" class="b-lazy img-responsive text-block b-loaded" src="https://www.sodimac.com.pe/static/categorias/contenidoEstatico/landings/lo-mas-nuevo-marzo/dist/images/tb-combo.jpg">
                </a>
               
            </div>
            <div class="column is-full-mobile is-half-tablet is-half-desktop">
                <a href="/sodimac-pe/category/cat3329006/imbatibles/?cid=lnd91084" title="Imbatibles">
                    <img alt="Imbatibles" title="Imbatibles" class="b-lazy img-responsive text-block b-loaded" src="https://www.sodimac.com.pe/static/categorias/contenidoEstatico/landings/lo-mas-nuevo-marzo/dist/images/tb-imbatible.jpg">
                </a>
               
            </div>
        </div>   
    </div>
</div>