<div id="section-marcas" class="section-container-fluid section-promo js-section-scrollspy">
    <div class="section-wrapper">
        <div class="wrapper_txt">
            <h2 class="text-uppercase title-section"><strong>MARCAS EXCLUSIVAS</strong></h2>      
          
        </div>   
        <div  class="section-promo__content">
            <div style="width:100%;" class=" content-daily swiper-container-outer">
           <div id="swiper-brands" class="swiper-container">
               <div class="swiper-wrapper">
                   <div class="swiper-slide">
                       <a title="Hogarama" href="/sodimac-pe/category/cat5209002/Especial-Hogarama/?cid=lnd116434">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca01?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca_mb-01?wid=170&hei=200" alt="Hogarama">
                        </picture>
                       </a>
                   
                   </div>
                   <div class="swiper-slide">
                        <a href="/sodimac-pe/search?Ntt=Monark/&cid=lnd116435" title="Monark">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca02?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca_mb-02?wid=170&hei=200" alt="Monark">
                        </picture>
                        </a>                
                    </div>
                    <div class="swiper-slide">
                        <a title="Continental" href="/sodimac-pe/search?Ntt=continental/&cid=lnd116436">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca-dkp?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca-mb?wid=170&hei=200" alt="Continental">
                        </picture>
                        </a>                
                    </div>
                    <div class="swiper-slide">
                        <a href="/sodimac-pe/search?Ntt=Tecgo/&cid=lnd116437" title="TecGo">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca04?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca_mb-04?wid=170&hei=200" alt="Tec Go">
                        </picture>
                        </a>                
                    </div>
                    <div class="swiper-slide">
                        <a href="/sodimac-pe/search?Ntt=Cuba&Spa/&cid=lnd116438" title="Cuba Spa">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca05?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca_mb-05?wid=170&hei=200" alt="Cuba Spa">
                        </picture>
                        </a>                
                    </div>
                    <div class="swiper-slide">
                        <a href="/sodimac-pe/search?Ntt=xiaomi/&cid=lnd116439" title="Xiaomi">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca06?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca_mb-06?wid=170&hei=200" alt="Xiaomi">
                        </picture>
                        </a>                
                    </div>
                    <div class="swiper-slide">
                        <a title="TuHome"  href="/sodimac-pe/category/cat4919002/TuHome/?cid=lnd116440">
                        <picture>
                            <source media="(min-width: 768px)" srcset="https://s7d5.scene7.com/is/image/SodimacPeru/marca07?wid=304&hei=169">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/marca_mb-07?wid=170&hei=200" alt="TuHome">
                        </picture>
                        </a>                
                    </div>
               </div>     
            </div>
           </div>
           <div class=" swiper-marcas-pagination"></div> 
           <div class="swiper-button-prev swiper-custom-button swiper-custom-button-prev  swiper-slider-marcas-prev "></div>
           <div class="swiper-button-next swiper-custom-button swiper-custom-button-next  swiper-slider-marcas-next "></div>
        </div>        
    </div>
</div>