<!-- START: MENU -->


<div class="section-container-fluid posr">
   <div id="vitrinas" class="section-intro-bg recommended ">
      <div class="wrapper_recommended">
         <div class="wrapper-imagen">
            <picture class="contenedor-imagen-slider">
               <source media="(min-width: 992px)"
               srcset="https://s7d5.scene7.com/is/image/SodimacPeru/vtn-lmn-dkp?wid=1920&hei=372&v1250021">
               <source media="(min-width: 1024px)"
                  srcset="https://s7d5.scene7.com/is/image/SodimacPeru/vtn-lmn-dkp?wid=1920&hei=372&v1250021">
        
               <img class="img-responsive"
                  src="https://s7d5.scene7.com/is/image/SodimacPeru/vtn-mb-lmn-1?wid=392&hei=324" />
            </picture>
            <!-- <div class="section-wrapper"> -->
               <div class="wrapper-logo">    
          
                
                  <img class="img-responsive hidden-xs hidden-sm"
                     src="https://sodimac.scene7.com/is/image/SodimacPeru/logo_dkp-1?wid=370&hei=236&fmt=png-alpha" />
             
            </div>
            <!-- </div> -->
  
         </div>

         <!-- https://sodimac.scene7.com/is/image/SodimacPeru/logo-lmn?$fmtPNG$&wid=400&hei=165 -->

         <div id="section-recommended"  class="section-recommended section-wrapper section-container-fluid section-promo js-section-scrollspy">
            <div class="container-heading">
            
               <div class="reverse section-body section-container-fluid section-promo js-section-scrollspy">
                  <div id="js-dg-recommended" class="section-promo__content">
                     <div class="spinner-loading visible">
                        <div class="spinner"></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>