
<div id="section-new-product" class="section-container-fluid section-promo js-section-scrollspy">
    <div class="section-wrapper">
        <div class="wrapper_txt">
            <h2 class="text-uppercase title-section"><strong>LO ÚLTIMO EN PRODUCTOS</strong></h2>      
            <p class="txt-section">Productos desarrollados con las últimas tendencias para darle ese look moderno a tu casa</p>   
        </div>
   
        <div id="js-dg-products" class="section-promo__content">
            <div class="spinner-loading visible">
                <div class="spinner"></div>
            </div>
        </div>        
    </div>
</div>
