<div id="categories"  class="section-container-fluid section-promo">
    <div class="section-wrapper">
        <div class="wrapper_txt">
            <h2 class="text-uppercase title-section"><strong>Categorías Destacadas</strong></h2>      
        
        </div>
       

        <div class="section-promo__content js-section-loaded">
            <div style="width:100%;" class=" content-daily swiper-container-outer">
                <div id="swiper-categories"  class=" swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <a  title="Alfombra Decorativa" href="/sodimac-pe/category/cat10800/Alfombras-Decorativas/?cid=lnd116426">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-01?wid=181&hei=181&v1250021" alt="">
                            <p class="title-category">Alfombras Decorativas</p>
                        </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/sodimac-pe/category/cat10862/Frazadas-y-Mantas/?cid=lnd116443">
                                <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-02?wid=181&hei=181&v1250021" alt="">
                                <p class="title-category">Colecciones de  mantas y frazadas</p>
                            </a>
                           
                        </div>
                        <div class="swiper-slide">
                            <a href="/sodimac-pe/category/cat549146/Juegos-de-Comedor/?cid=lnd116427" title="Juegos de comedor">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-03?wid=181&hei=181&v1250021" alt="">
                            <p class="title-category">Juegos de  comedor</p>
                        </a>
                        </div>
                        <div class="swiper-slide">
                            <a title="Juegos de vajillas" href="/sodimac-pe/category/cat2439006/Juegos-de-vajillas/?cid=lnd116428">
                                <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-04?wid=181&hei=181&v1250021" alt="">
                                <p class="title-category">Juegos de vajillas</p>
                            </a>
                      
                        </div>
                        <div class="swiper-slide">
                            <a href="/sodimac-pe/landing/cat10052/Parrilla/?cid=lnd116429" title="Parrillas">
                                <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-05?wid=181&hei=181&v1250021" alt="">
                                <p class="title-category">Parrillas</p>
                            </a>
                        
                        </div>
                        <div class="swiper-slide">
                            <a title="Sillas gamer" href="/sodimac-pe/category/cat5229005/Sillas-Gamer/?cid=lnd116430">
                                <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-06?wid=181&hei=181&v1250021" alt="">
                                <p class="title-category">Sillas Gamer</p>
                            </a>
                           
                        </div>
                        <div class="swiper-slide">
                            <a title="Enfriadores y purificadores" href="/sodimac-pe/category/cat2929006/Enfriadores-y-Purificadores-de-Aire/?cid=lnd116432">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-07?wid=181&hei=181&v1250021" alt="">
                            <p class="title-category">Lámparas
                                Desinfección UV</p>
                            </a>
                        </div>
                        <div class="swiper-slide">
                            <a href="/sodimac-pe/category/cat5469011/Celulares/?cid=lnd116433">
                            <img class="img-responsive" src="https://s7d5.scene7.com/is/image/SodimacPeru/catlomasnuevo-08?wid=181&hei=181&v1250021" alt="">
                            <p class="title-category">Celulares</p>
                        </a>
                        </div>
                    </div>
                </div>
          </div>
                 <div class="swiper-categorias-pagination"></div> 
                <div class="swiper-button-prev swiper-custom-button swiper-custom-button-prev  swiper-slider-categorias-prev "></div>
                <div class="swiper-button-next swiper-custom-button swiper-custom-button-next  swiper-slider-categorias-next "></div>
          
          </div>
       
        </div>
    </div>
